#.gitignore

.ftpconfig

## c programing
c/**/a.out
c/**/hello
c/**/*.o
c/**/test

## java

java/*.class

## scala
scala/**/project
scala/**/target

## maven
maven/target

## nodejs
node_modules/
node/**/package-lock.json
node/config/pool.js


## python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/*.json
mongodb/**/*.json
mogodb/**/*.mp4


## oracle
oracle/node/dbConfig.js
oracle/node/node_modules
oracle/node/package-lock.json


## htmlr


/ * "kakao_apiKey": "5436d41e21b2a9b2e1fd6b9bb09b9fe9",
    "data_apiKey": "0EEwi4SBF4STBvHQ%2FDmAHD%2FdCftYOy8jOtm5RMpQMdaixrtwB8RSI9PwsEiHY9TISvORH2oPYXBwS6J0DQJMLw%3D%3D",
    "ATLAS_API": "wo7SfzFfLxgkmQpqIoTMnd0wEQ1dY9mcL3bWjo38CLPNMQyDEjBKciDPMNRfAuNu",
    "ATLAS_HOSTNAME": "cluster0.jpnfmq3.mongodb.net",
    "ATLAS_Username": "root",
    "ATLAS_Password": "1234",
    "Mysql_Hostname": "192.168.1.77",
    "Mysql_Port": 3306,
    "Mysql_Username": "mysql",
    "Mysql_Password": "1234",
    "Mysql_DBname": "testdb",
    "Youtube_api": "AIzaSyBuSBP7wVQalqBHmxTm1msro7pMmr3c5Ao",
    "Youtube_api2": "AIzaSyByctBwsLELtpW16x76A8xMel93ujMoJeE",
    "Youtube_api3": "AIzaSyBXrNesBna0T6Ov8QHmhTDR_QbTxjCnZuk",
    "Youtube_api4": "AIzaSyDEg-ZBHVsHYfq22GScTwV50Ao_cod0-_A"